src/main/resources/Biblio.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bibliotheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="livre">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titre" type="xs:string" />
              <xs:element name="auteurNom" type="xs:string" />
              <xs:element name="auteurPrenom" type="xs:string" />
              <xs:element name="presentation" type="xs:string" />
              <xs:element name="jaquette" type="xs:string" />
              <xs:element name="parution" type="xs:unsignedShort" />
              <xs:element name="colonne" type="xs:unsignedByte" />
              <xs:element name="rangee" type="xs:unsignedByte" />
              <xs:element name="emprunte" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>